#### Print characters from a string that are present at an even index number

Description : Write a program to accept a string from the user and display characters that are present at an even index number.

In [8]:
data = input('enter the word')
for i in range(0,len(data),2):
    print(data[i])

enter the wordpython
p
t
o

#### Remove first n characters from a string

Description:Write a program to remove characters from a string starting from zero up to n and return a new string.

In [11]:
data = input('enter the word ')
number = int(input('enter start index value '))
print(data[number:])

enter the word Encyclopedia
enter start index value 4
clopedia

#### Check if the first and last number of a list is the same

Description: Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

without Function

In [12]:
list1 = [10,20,30,40,50,10]
print(list1[0]==list1[-1])

True

In [14]:
list2 =[10,20,30,40,50,60]
print(list2[0]==list2[-1])

False

with using Function

In [15]:
def check_last(n):
    if n[0]==n[-1]:
        return True
    else:
        return False

In [16]:
check_last(list1)

True

In [17]:
check_last(list2)

False

#### Display numbers divisible by 5 from a list

Description: Iterate the given list of numbers and print only those numbers which are divisible by 5

In [18]:
list1=[10,12,20,22,30,35,78]
for i in list1:
    if i%5==0:
        print(i)

10
20
30
35

#### Check divisible of user given value of list and numbers

In [19]:
def check_divisble(n,d):
    for i in n:
        if i%d == 0:
            print(i)

In [22]:
check_divisble(list1,7)

35

#### Return the count of a given substring from a string

Description: Write a program to find how many times substring “Win” appears in the given string.

In [30]:
data= 'win is not everything--but wanting to win is'
count=0
for i in data.split():
    if i == 'win':
        count+=1
print('The word win is occur',count, 'times')

The word win is occur 2 times

#### Check Palindrome Number

Description: Write a program to check if the given string is a palindrome number.

In [40]:
def check_palindrome(c):
    if c[0:]==c[::-1]:
        print(f' The given {c} is Palindrome')
    else:
        print('Not Palindrome')

In [42]:
check_palindrome('545')

 The given 545 is Palindrome

#### Create a new list from a two list using the following condition

Description: Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [51]:
list1=[10, 11, 20, 22, 31, 35, 78]
list2=[12, 13, 20, 80, 22, 7, 3]

In [77]:
li=[x for x in list1 if x % 2 !=0 ]
li1=[x for x in list2 if x %2 == 0 ]

In [78]:
print(li+li1)

[11, 31, 35, 12, 20, 80, 22]

#### Write a Program to extract each digit from an integer in the reverse order.

Description: For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [119]:
value = 7536
while value > 0:
    last_digit = value % 10
    value = value //10
    print(last_digit, end=' ')

6 3 5 7

#### Calculate income tax for the given income by adhering to the below rules

Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20
Expected Output:

For example, suppose the taxable income is 45000 the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [129]:
amount = 45000
bal= amount - 20000
Tax=10000*(0/100)+ 10000*(10/100)  + bal*(20/100)
print(f'The {amount} taxable is ${Tax}')

The 45000 taxable is $6000.0

#### Print multiplication table form 1 to 10

In [152]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=' ')
    print('\t \t')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100