#### Print First 10 natural numbers using while loop

In [4]:
i=0
while i <10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Calculate the sum of all numbers from 1 to a given number

In [16]:
number = int(input('enter the number'))
sum=0
for i in range(0,number+1):
    sum+=i
print(sum)

enter the number10
55

#### Display numbers from a list using loop

In [21]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i%5 == 0:
        print(i)

75
150
145

#### Count the total number of digits in a number

In [25]:
number = int(input('enter number '))
count = 0
while number != 0:
    number = number//10
    count+=1
print('The total number of digit is',count)

enter number 897654
The total number of digit is 6

#### Print list in reverse order using a loop

In [31]:
li = [1,2,3,4,5,6,7,8]
for i in li[::-1]:
    print(i, end=' ')

8 7 6 5 4 3 2 1

#### Use else block to display a message “Done” after successful execution of for loop

In [33]:
for i in range(5):
    print(i)
else:
    print('Done!')

0
1
2
3
4
Done!

#### Write a program to display all prime numbers within a range

In [38]:
start = int(input('enter start value'))
end = int(input('enter end value'))
for num in range(start, end+1):
    if num > 1:
        for i in  range(2,num):
            if num%i == 0:
                break
        else:
            print(num)

enter start value25
enter end value40
29
31
37

 #### Display Fibonacci series up to 10 terms

In [48]:
num1 = 0
num2 = 1
print('The fibonacci')
for i in range(10):
    print(num1, end=' ')
    res = num1+num2
    num1 =num2
    num2 =res

The fibonacci
0 1 1 2 3 5 8 13 21 34

 #### Find the factorial of a given number

In [56]:
number = int(input('enter number'))
factorial = 1
if number < 0:
    print('The does not have factorial of negative value')
elif number == 0:
    print('The factorial is',factorial)
else:
    for i in range(1,number+1):
        factorial = factorial * i
    print('The factorial is',factorial)

enter number5
The factorial is 120

#### Reverse a given integer number

In [61]:
number = int(input('enter number '))
while number > 0:
    value = number % 10
    number = number // 10
    print(value, end ='')

enter number 98356
65389

#### Calculate the cube of all numbers from 1 to a given number

In [66]:
number = int(input('enter number'))
for i in range(0, number+1):
    print(f'The cube of given number {i} = {i**3}')

enter number6
The cube of given number 0 = 0
The cube of given number 1 = 1
The cube of given number 2 = 8
The cube of given number 3 = 27
The cube of given number 4 = 64
The cube of given number 5 = 125
The cube of given number 6 = 216

#### Find the sum of the series upto n terms

In [82]:
n = int(input('enter range'))
start =2
sum=0
for i in range(n):
    print(start, end='+')
    sum+=start
    start = start*10+2
print("\nSum of above series is:", sum)

enter range5
2+22+222+2222+22222+
Sum of above series is: 24690